@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

  /* Colors */

  /* Primary */
  --pink: hsl(322, 100%, 66%);

  /* Neutral */
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --gray-blue: hsl(208, 11%, 55%);

  /* Typography */
  --font-size: 18px;
  --font-heading: "Poppins", sans-serif;
  --fw-heading: 600;
  --font-body: "Open Sans", sans-serif;
  --fw-heavy: 700;
  --fw-light: 400;
}

* {
  margin: 0;
}

body {
  font-family: var(--font-body);
  text-align: center;
  font-size: var(--font-size);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

header,
.index {
  background-image: url("./images//bg-hero-mobile.svg");
  background-color: var(--pale-cyan);
}

header .logo {
  width: 100px;
  height: 20px;
}

.header-cta {
  padding: 0.6em;
  border-radius: 5em;
  border: none;
  width: 140px;
  font-weight: var(--fw-heavy);
  background: #fff;
  border-bottom: 2px solid #ddd;
  box-shadow: 0px 0px 5px 3px var(--pale-cyan);
}
.header-cta:hover {
  box-shadow: 0px 0px 5px 3px hsl(193, 22%, 86%);
}

h1 {
  font-family: var(--fw-heading);
  font-weight: var(--fw-heading);
}
.index div h1 {
  padding: 1em 0;
  line-height: 1.5em;
  font-family: var(--font-heading);
}

.index div p {
  margin: 1em 1.5em;
  line-height: 1.5em;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5em;
  transition: 0.6s ease-in;
}
.cta {
  width: 250px;
  padding: 1.2em;
  color: #fff;
  background: var(--pink);
  font-weight: var(--fw-heavy);
  border-bottom: 5px solid hsl(322, 63%, 52%);
  box-shadow: 0 0 5px 2px hsla(322, 81%, 33%, 0.31);
}

.cta:hover {
  box-shadow: -1px 0px 7px 2px hsla(322, 76%, 54%, 0.68);
}

.index div .cta {
  margin: 2em 0;
}

.illustration-container {
  width: 80vw;
  margin: 0 auto;
}

.illustration-container .dash-illustration {
  width: 100%;
  margin: 2em 0;
}

.card {
  margin: 2em;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 7px 0 #ddd;
}

.illustration-container .illustration {
  width: 70%;
  margin: 1em 0;
  margin-left: -40px;
}

.description h1 {
  font-size: 1.2em;
  font-family: var(--font-heading);
}

.description p {
  font-size: 1em;
  margin: 0.5em 0;
  color: var(--gray-blue);
  line-height: 1.6em;
}

.bottom-cta-container {
  position: relative;
  top: 6em;
  z-index: 2;
  background-color: #fff;
  padding: 2.5em 0;
  box-shadow: 0 -2px 5px 0 #ddd;
}

.bottom-cta-container h1 {
  font-size: 1em;
  font-family: var(--font-heading);
  font-weight: var(--fw-heavy);
  margin-bottom: 1.5em;
}

footer {
  background: var(--dark-cyan);
  color: #fff;
  padding-top: 5em;
  text-align: left;
  font-size: 0.9em;
}

.contact .logo {
  margin-top: 5em;
  margin-left: 2em;
  margin-bottom: 1em;
}

.contact p,
.links-mobile {
  margin: 1em 2em;
  width: 400px;
}

.links-mobile {
  margin-top: 2.5em;
}

.address {
  line-height: 1.5em;
  display: flex;
}

.address .text {
  margin-left: 0.7em;
}

.contact-icon {
  margin-right: 1.2em;
}
.contact a {
  text-decoration: none;
  color: #fff;
}

.contact a:hover {
  color: var(--gray-blue);
}

.links-mobile a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 0;
}

.links-mobile a:hover {
  color: var(--gray-blue);
}

.links-two {
  margin-top: -15px;
}

.social-icons {
  text-align: center;
}

.social-icons p {
  font-family: var(--font-heading);
  padding: 1em 0 2em 0;
}

.fa {
  border: 1.1px solid #ddd;
  padding: 9px 10px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 100%;
  margin: 1em 0.4em;
  transition: 0.6s ease-in;
}

.fa:hover {
  color: var(--dark-cyan);
  background: #fff;
}

@media only screen and (min-width: 610px) {
  body {
    overflow-x: hidden;
  }

  header,
  .index {
    background-image: url("./images/bg-hero-desktop.svg");
  }

  .card,
  .index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 35em; */
    margin: 2em 15%;
  }

  .index {
    margin: 0 auto;
    width: 100vw;
    text-align: left;
    padding: 0 2em;
    padding-bottom: 1em;
  }

  .index div {
    width: 19em;
  }
  .index div h1 {
    font-size: 1.2em;
  }

  .index div p {
    margin: 0;
    font-size: 0.8em;
  }

  .illustration-container .dash-illustration {
    width: 140%;
    margin-left: -130px;
    position: relative;
    top: -1em;
  }

  .illustration-container {
    width: 100%;
  }

  .illustration {
    min-width: 250px;
  }

  .grow,
  .users {
    grid-row: 1;
  }

  .description {
    font-size: 1em;
    margin-top: 2.5em;
    text-align: left;
    width: 80%;
  }

  .description p {
    font-size: 0.9em;
  }

  .bottom-cta-container {
    display: flex;
    flex-direction: column;
  }

  .bottom-cta-container button {
    margin: 0 auto;
  }

  footer {
    display: grid;
    font-size: 0.7em;
    padding: 5em 3em;
    padding-bottom: 2em;
    grid-template-columns: repeat(4, 1fr);
  }

  .contact {
    margin-top: -2em;
  }

  .links-mobile,
  .social-icons {
    margin-top: 7.5em;
  }

  .links-two {
    margin-left: -20em;
  }

  .social-icons {
    margin-left: -37em;
  }

  .social-icons p {
    font-size: 0.7em;
    position: relative;
    top: 6em;
    left: 5em;
  }

  .fa {
    padding: 7px 6px;
    height: 10px;
  }
}
