@import url("https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap");

:root {
  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

  /* Colors */

  /* Primary */
  --blue: hsl(223, 87%, 63%);
  /* Secondayr */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  /* Neutral */
  --gray: hsl(0, 0%, 59%);
  --dark-blue: hsl(209, 33%, 12%);

  /* Typography */
  --font-size: 1.5rem;
  --font-family: "Libre Franklin", sans-serif;
  --fw-heavy: 700;
  --fw-medium: 600;
  --fw-light: 300;
}

* {
  margin: 0;
}

body {
  font-family: var(--font-family);
  margin: 2em;
  text-align: center;
  font-size: var(--font-size);
}

header {
  margin-bottom: 1.5em;
}

header img {
  width: 2em;
}

section h1 {
  font-size: 0.9em;
  font-weight: var(--fw-light);
  margin-bottom: 0.8em;
  color: var(--gray);
  font-size: var(--font-size);
}

section h1 .soon {
  font-weight: var(--fw-heavy);
  color: var(--dark-blue);
}

section p {
  font-size: 0.6em;
  margin-bottom: 2.2em;
}

.email-container input {
  padding: 1em 3em;
  padding-left: 2em;
  border-radius: 5em;
  outline: none;
  border: 1px solid var(--pale-blue);
}

.email-container input::placeholder {
  color: var(--gray);
}

.email-container .error-text {
  font-size: 0.45em;
  position: relative;
  top: 5px;
  font-style: italic;
  color: var(--light-red);
  display: none;
}

button {
  padding: 1em 8em;
  border-radius: 5em;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: var(--fw-medium);
  background: var(--blue);
  position: relative;
  top: 10px;
}

button:hover {
  box-shadow: 0 4px 14px var(--pale-blue);
}

.illustration {
  width: 70vw;
  margin: 2em 0;
}

.illustration img {
  width: 100%;
}

.social-icons {
  margin: 2em 0;
}

.fa {
  color: var(--blue);
  border: 0.5px solid #ddd;
  padding: 9px 10px;
  cursor: pointer;
  font-size: 0.5em;
  border-radius: 100%;
  background: #fff;
  margin: 0 0.4em;
}

.fa:hover {
  color: #fff;
  border: none;
  background: var(--blue);
}

.social-icons p {
  font-size: 0.45em;
  margin: 1.5em 0;
  color: var(--gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 500px) {
  form {
    display: flex;
    justify-content: center;
  }

  .email-container input {
    padding: 1em 6em;
    padding-left: 2em;
  }

  button {
    position: relative;
    top: 0;
    left: 10px;
    padding: 1em 2em;
  }

  .email-container .error-text {
    /* position: relative;
    left: -35px;
    display: block; */
  }

  .illustration {
    margin: 2em auto;
    width: 450px;
  }
}
